#page-teacher-form {
  width: 100vw;
  height: 100vh;
}

#page-teacher-form .page-header .header-content {
  margin-bottom: 6.4rem;
}
 
.box {
  margin: 1.5rem;
  margin: 0;
  padding: 0;
}

.right {
  display: none;
}

.left img {
  height: 5rem;
  background:var(--color-primary);
  border: 1px solid;
  
}

#page-teacher-form main span {
  font-size: 1.2rem;
  margin: 4rem;
  color: #f7b1b1;
}

#page-teacher-form main .icon {
  width: 1.4rem;
  height: 1.4rem;
  margin-top: -3.3rem;
  margin-right: 1.4rem;
  position: relative;
  display: flex;
  float: right;
}

#page-teacher-form main .icon-red {
  width: 1.4rem;
  height: 1.4rem;
  margin-top: -3.3rem;
  margin-right: 1.4rem;
  position: relative;
  display: flex;
  float: right;
  color: red;
}

#page-teacher-form main .icon-yellow {
  width: 1.4rem;
  height: 1.4rem;
  margin-top: -3.3rem;
  margin-right: 1.4rem;
  position: relative;
  display: flex;
  float: right;
  color: rgb(223, 212, 60);
}

#page-teacher-form main .icon-green {
  width: 1.4rem;
  height: 1.4rem;
  margin-top: -3.3rem;
  margin-right: 1.4rem;
  position: relative;
  display: flex;
  float: right;
  color: rgb(25, 212, 0);
}


#page-teacher-form #span-phone {
  display: flex;
}

#page-teacher-form .phone-class {
  width: 94%;
  height: 5.6rem;
  margin-left: 3rem;
  margin-top: 0.8rem;
  margin-bottom: 1.8rem;
  border-radius: 0.8rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  padding: 0 1.6rem;
  font: 1.6rem Archivo;
}

#page-teacher-form #span-phone span {
  margin: 0;
  margin-top: 2.1rem;
  margin-bottom: -0.7rem;
  padding: 0.8rem 0;
  font-size: 1.4rem;
  color: var(--color-text-complement);
}

.input-phone {
  width: 100%;
  height: 5.6rem;
  border-radius: 0.8rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  padding: 0 1.6rem;
  font: 1.6rem Archivo;
}

#input-block-verify {
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
}

#input-block-verify-red {
  height: 5.8rem;
  border: 1px solid red;
  box-shadow: 1rem 0.5rem 0.5rem #f7b1b1;
}

#input-block-verify-green {
  height: 5.6rem;
  box-shadow: inset 0 0 0.5rem var(--color-secundary);
}

#page-teacher-form main {
  background: var(--color-box-base);
  width: 100%;
  max-width: 64rem;
  border-radius: 0.8rem;
  margin: 2.2rem auto 2.2rem;
  padding-top: 5.4rem;
  overflow: hidden;
}
#page-teacher-form main fieldset {
  border: 0;
  padding: 0 2.4rem;
}
#page-teacher-form main fieldset + fieldset {
  margin-top: 6.4rem;
}
#page-teacher-form main fieldset legend {
  font: 700 2.4rem Archivo;
  color: var(--color-text-title);
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid var(--color-line-in-white);
}
#page-teacher-form main fieldset legend button {
  background: none;
  border: 0;
  color: var(--color-primary);
  font: 700 1.6rem Archivo;
  cursor: pointer;
  transition: color 0.2s;
}
#page-teacher-form main fieldset legend button:hover {
  color: var(--color-primary-dark);
}

#page-teacher-form main .input-block label {
  color: var(--color-text-complement);
}
#page-teacher-form main fieldset .input-block + .textarea-block {
  margin-top: 2.4rem;
}
#page-teacher-form main fieldset .select-block + .input-block {
  margin-top: 2.4rem;
}

#page-teacher-form main footer {
  padding: 4rem 2.4rem;
  background: var(--color-box-footer);
  border-top: 1px solid var(--color-line-in-white);
  margin-top: 6.4rem;
}
#page-teacher-form main footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 2, 4rem;
  color: var(--color-text-complement);
}

#page-teacher-form main footer p img {
  margin-right: 2rem;
}
#page-teacher-form main footer button {
  width: 100%;
  height: 5.6rem;
  background: var(--color-secundary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.6rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  margin-top: 3.2rem;
}
#page-teacher-form main footer button:hover {
  background: var(--color-secundary-dark);
}

.modal-top {
  width: 100%;
  display: inline-block;
  justify-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 0.1rem solid var(--color-line-in-white);    
}
.modal-content {
  padding: 2.5rem; 
  color: #f7b1b1;
}

.modal-top h2 {
  display: inline-block;
  padding: 0.5rem;   
  overflow: hidden;
}

.modal-top button {
  display: inline-block;
  padding: 0.5rem;   
  float: right;
  background: none;
  border: none;
}

.modal-top button:hover {
  color: var(--color-line-in-white);
}

@media (min-width: 900px) {
  #page-teacher-form {
    max-width: 100vw;
    display: grid;
    grid-template-columns: 55% 45%;
  }

  .left {
    display: flex;
  }

  .left img {
    height: 5.5rem;
    background:var(--color-primary);
    margin-top: 0;
    padding: 1.3rem;
    border: 1px solid;
    position: fixed;
  }

  .right {
    background: var(--color-primary);
    display: flex;
  }

  .wrapper {
    width: 100%;
    height: 80rem;;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "header header ......."
    "sidebar content content"
    "footer  footer  footer";
}

.right-box {
  color: var(--color-box-base);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  margin-left: 2.5rem;
}

.sidebar {
  grid-area: sidebar;
}
.sidebar p {
  font: 1.5rem;
}

.content {
  grid-area: content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
}
.content img {
  width: 100%;
}

.header {
  grid-area: header;
}

.header img {
  width: 100%;
}

.footer {
  grid-area: footer;
}
  
  #page-teacher-form .page-header .header-content {
    margin-bottom: 0;
  }
  #page-teacher-form main fieldset {
    padding: 0 6.4rem;
  }

  #page-teacher-form main .schedule-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 1.6rem;
  }
  #page-teacher-form main .schedule-item .input-block {
    margin-top: 0 !important;
  }

  #page-teacher-form main footer {
    padding: 4rem 6.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #page-teacher-form main footer p {
    justify-content: space-between;
  }
  #page-teacher-form main footer button {
    width: 20rem;
    margin-top: 0;
  }
}
